version: '3'
services:
    db:
        image: mariadb
        ports:
            - "3306:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_USER=user
            - MYSQL_PASSWORD=password
            - MYSQL_DATABASE=book
        volumes:
            - ./database:/var/lib/mysql